# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage
# Python
venv/
__pycache__/
*.pyc
.env



# VS Code
.vscode/

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

